# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore generated binaries
examples/simple_add
examples/rot13/rot13
examples/hello_world
examples/peephole/peephole
